<div class="w-full md:w-1/3 xl:w-1/4 p-6">
    <a href="{% url 'product' product.slug %}">
        <img src="{{ product.get_thumbnail }}" class="w-full rounded-xl hover:shadow-lg">
    </a>
    <div class="pt-3 flex items-center justify-between">
        <a href="{% url 'product' product.slug %}">{{ product.name}}</a>
        <a href="#" hx-get="{% url 'add_to_cart' product.id %}" hx-target="#menu-cart-button" hx-swap="outerHTML"
            class="text-purple-500 hover:text-purple-800">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                <path fill-rule="evenodd"
                    d="M5 4a3 3 0 0 1 6 0v1h.643a1.5 1.5 0 0 1 1.492 1.35l.7 7A1.5 1.5 0 0 1 12.342 15H3.657a1.5 1.5 0 0 1-1.492-1.65l.7-7A1.5 1.5 0 0 1 4.357 5H5V4Zm4.5 0v1h-3V4a1.5 1.5 0 0 1 3 0Zm-3 3.75a.75.75 0 0 0-1.5 0v1a3 3 0 1 0 6 0v-1a.75.75 0 0 0-1.5 0v1a1.5 1.5 0 1 1-3 0v-1Z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>
    <p class="pt-1 text-gray-400">${{ product.price }}</p>
</div>